@using Atomia.Store.AspNetMvc.Models
@model Atomia.Store.AspNetMvc.Models.DefaultAccountViewModel

@{
    Layout = "~/Themes/Default/Views/_OrderFlowLayout.cshtml";
    var orderFlow = (OrderFlowModel)ViewBag.OrderFlow;
    var routeValues = orderFlow.IsQueryStringBased ? new { flow = orderFlow.Name } : null;
}

<div class="settingsboxinner">

    <form action="@this.Url.Action("Index", routeValues)" id="Account_Form" method="post" novalidate="novalidate">
    @{
        Html.RenderPartial("_ValidationSummary", ViewData.ModelState);

        @Html.AntiForgeryToken();

        Html.RenderPartial(Model.MainContact.PartialViewName, Model.MainContact, new ViewDataDictionary
        {
            TemplateInfo = new TemplateInfo { HtmlFieldPrefix = Model.MainContact.Id }
        });

        Html.RenderPartial(Model.BillingContact.PartialViewName, Model.BillingContact, new ViewDataDictionary
        {
            TemplateInfo = new TemplateInfo { HtmlFieldPrefix = Model.BillingContact.Id }
        });

        Html.RenderPartial(Model.WhoisContact.PartialViewName, Model.WhoisContact, new ViewDataDictionary
        {
            TemplateInfo = new TemplateInfo { HtmlFieldPrefix = Model.WhoisContact.Id }
        });

        Html.HiddenFor(m => m.OtherBillingContact, new { data_bind = "value: otherBillingContact" });

        Html.HiddenFor(m => m.OtherWhoisContact, new { data_bind = "value: otherWhoisContact" });

        Html.RenderPartial("_NoridDeclaration", Model.NoridDeclaration);

        Html.RenderPartial("_ExtraForms", Model);

        Html.RenderPartial("_Actions", Model);
    }
    </form>
</div>

@section scripts {

    @{Html.RenderPartial("_Scripts", Model);}

    @{Html.RenderPartial("_ExtraScripts", Model);}

}
